.form__container{
  display: flex;
  position: relative;

  .form{
    display: flex;
    flex-direction: column;
    width: 65%;    

    .form__legend{
      font-size: 2rem;
      background: $background-color;
    }

    .form__label{
      position: absolute;
      left: -9999px;
    }

    .form__input{
      width: 100%;
      margin: 0.4rem;
      border: 0.2rem solid $background-color;
    }

    .form__input::placeholder{
      color: $background-color;
    }

    .form__button{
      width: 30%;
      font-size: 1.2rem;
      background: $background-color;
    }

  }
}
