.contact{
  background: url(../images/smartphone-notebook-technology-calendar.jpg) center/cover;
  height: 100vh;
  background-attachment: fixed;
  position: relative;
  @media #{$big-up}{
    background: url(../images/pexels-photo-247708.jpeg) center/cover;
  } 
}

.form__container{
  display: flex;
  position: relative;

  .form{
  position: absolute;
  top: 25rem;
  left: 15%;
  display: flex;
  flex-direction: column;
  width: 75%;    
  @media #{$mobile-up}{
      top: 20rem;
    }

    .form__legend{
      text-align: center;
      margin: 2rem;
      font-size: 1rem;
      background: $background-color;
      @media screen and(min-width:420px) {
        margin: 3rem;
        font-size: 2rem;
      }
      @media screen and(min-width:500px) {
        margin: 4rem;
        font-size: 3rem;
      }
    }

    .form__label{
      position: absolute;
      left: -9999px;
    }

    .form__input{
      width: 100%;
      margin: 0.4rem;
      border: 0.2rem solid $background-color;
      font-size: 1rem;
      @media #{$big-up}{
       font-size: 1.5rem;
    }
    }

    .form__input::placeholder{
      color: $background-color;
      font-size: 1rem;
      @media #{$big-up}{
       font-size: 1.5rem;
    }
    }

    .form__button{
      width: 30%;
      font-size: 1.2rem;
      background: $background-color;
    }

  }
}
