.gallery-container{
  background: #fff;
  height: 25rem;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 20px;
  border: 1px solid black;

  .gallery__image{
    height: 50%;
    margin-bottom: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;

  .gallery__pic{
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .gallery__pic:hover{
    animation: rotation 5s alternate;
  }
}
  .gallery__paragraph{
    display: flex;
    flex-direction: column;
    font-size: 13px;

    @media #{$mobile-up}{
      display: flex;
      flex-direction: column;
      font-size: 14px;
    }

    @media #{$big-up}{
      text-align: left;
      padding: 20px;
      display: flex;
      flex-direction: column;
      font-size: 18px;
    }
    .gallery__boldText{
      margin-top: 25px;
      font-weight: 900;
    }
    }
}

@keyframes rotation{
  0%{
    transform: rotate(15deg);
  }
  50%{
    transform: rotate(-15deg);
  }
  100%{
    transform: scale(3);
  }
}
