.slider{
  height: calc(100vh - 6rem);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(white,#e4e4e4);

  &__gallery{
  display: flex;

  @media #{$mobile-up}{
  display: flex;
  }

  @media #{$big-up}{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slider__button--prev{
    display: none;

    @media #{$mobile-up}{
    display: none;
    }

    @media #{$big-up}{
      display: block;
      position: absolute;
      left:0;
      font-size: 60px;
      border: none;
      background-color: transparent;
    }
  }

  .slider__button--next{
    display: none;

    @media #{$mobile-up}{
    display: none;
    }

    @media #{$big-up}{
      display: block;
      position: absolute;
      right:0;
      font-size: 60px;
      border: none;
      background-color: transparent;
    }
  }

   .slider__article{
    display: none;
    margin: 25px;
    font-size: 25px;
  }

  .slider__list{
    display: block;

    .slider__article{
      font-size: 10px;
    }

    .slider__image{
      width: 80%;
      height: 80%;
    }

    @media #{$mobile-up}{
    display: block;

    .slider__article{
      font-size: 15px;
    }

    .slider__image{
      width: 75%;
      height: 75%;
    }
    }

    @media #{$big-up}{
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .slider__article{
        font-size: 22px;
      }

      .slider__image{
        width: 400px;
        height: 600px;
      }
    }
  }

  .slider__item{
    display: none;
  }

  .slider__list .visible{
    display: inline-block;
  }

  .slider__image{
    margin: 25px;

  }

}
}
