.slider{  
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../images/abstract-background-black-and-white-935871.jpg);
  background-attachment: fixed;

  @media #{$big-up}{
  height: calc(100vh - 6rem);
  width: 100vw;
  }
  &__gallery{
  display: flex;
  align-items: center;
  justify-content: center;

  @media #{$mobile-up}{
  display: flex;
  }

  @media #{$big-up}{
    width: 100%;
    position: relative;
    display: flex;   
  }

  .slider__button--prev{
    display: none;

    @media #{$mobile-up}{
    display: none;
    }

    @media #{$big-up}{
      display: block;
      position: absolute;
      left:0;
      font-size: 3.5rem;
      border: none;
      background-color: transparent;
    }
  }

  .slider__button--next{
    display: none;

    @media #{$mobile-up}{
    display: none;
    }

    @media #{$big-up}{
      display: block;
      position: absolute;
      right:0;
      font-size: 3.5rem;
      border: none;
      background-color: transparent;
    }
  }

  .slider__list{
    display: block;
    position: relative;   

    .slider__article{
      display: none;
      margin: 2rem;  
      font-size: 0.4rem;      
    }

    .slider__image{
      width: 80%;
      height: 80%;
    }

    @media #{$mobile-down}{
       .slider__article{      
      margin: 2rem;  
      font-size: 0.6rem;
    }
    }
    @media screen and(min-width:500px){
      .slider__article{      
      margin: 2rem;  
      font-size: 0.9rem;
    }
    }

    @media #{$mobile-up}{
    display: block;

    .slider__article{
      font-size: 1.2rem;
    }

    .slider__image{
      width: 75%;
      height: 75%;
    }
    }

    @media #{$big-up}{
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .slider__article{
        font-size: 1.2rem;
      }

      .slider__image{
        width: 400px;
        height: 600px;
      }
    }
  }

  .slider__item{
    display: none;
  }

  .slider__list .visible{
    display: inline-block;
  }

  .slider__image{
    margin:2rem;
  }
}
}
